$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-sun-fill: "\e907";
$icon-moon-fill: "\e910";
$icon-home3: "\e90c";
$icon-newspaper: "\e90d";
$icon-pencil: "\e90e";
$icon-images: "\e90f";
$icon-books: "\e920";
$icon-profile: "\e923";
$icon-folder-open: "\e930";
$icon-price-tags: "\e936";
$icon-phone: "\e942";
$icon-envelop: "\e945";
$icon-location2: "\e948";
$icon-history: "\e94d";
$icon-display: "\e956";
$icon-mobile: "\e958";
$icon-tablet: "\e95a";
$icon-users: "\e972";
$icon-user-check: "\e975";
$icon-user-tie: "\e976";
$icon-quotes-left: "\e977";
$icon-quotes-right: "\e978";
$icon-zoom-in: "\e987";
$icon-zoom-out: "\e988";
$icon-enlarge: "\e989";
$icon-shrink: "\e98a";
$icon-stats-dots: "\e99b";
$icon-stats-bars: "\e99c";
$icon-stats-bars2: "\e99d";
$icon-trophy: "\e99e";
$icon-rocket: "\e9a5";
$icon-fire: "\e9a9";
$icon-lab: "\e9aa";
$icon-briefcase: "\e9ae";
$icon-power: "\e9b5";
$icon-link: "\e9cb";
$icon-attachment: "\e9cd";
$icon-contrast: "\e9d5";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-heart: "\e9da";
$icon-happy: "\e9df";
$icon-happy2: "\e9e0";
$icon-point-up: "\ea03";
$icon-point-right: "\ea04";
$icon-info: "\ea0c";
$icon-arrow-up2: "\ea3a";
$icon-arrow-right2: "\ea3c";
$icon-arrow-left2: "\ea40";
$icon-embed2: "\ea80";
$icon-github: "\eab0";
$icon-linkedin2: "\eaca";
$icon-codepen: "\eae8";
$icon-svg: "\eae9";
$icon-css3: "\e900";
$icon-dev-dot-to: "\e901";
$icon-git: "\e902";
$icon-github1: "\e903";
$icon-html5: "\e904";
$icon-javascript: "\e905";
$icon-linkedin: "\e906";
$icon-npm: "\e908";
$icon-react: "\e909";
$icon-sass: "\e90a";
$icon-visualstudiocode: "\e90b";

